.photography-category {
    display: block;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
}

.photography-categories h2 {
    text-align: center;
    font-size: 18pt;
    padding-bottom: 10px;
}

.photography-categories button {
    display: block;
    margin: 0px auto 20px auto;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.column {
    width: 100%;
}

.thumbnail {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.gallery-header {
    position: relative;
    margin-bottom: 15px;
}

.gallery-header h1 {
    margin: 0 !important;
    padding: 3px 0px 0px 0px !important;
}

.back-btn {
    position: absolute;
    left: 10px;
   /* vertically center the icon */
    font-size: 16pt;
    top: 3px;
}

.back-btn::before {
    position: relative;
    top: 4px;
    font-family: 'icons' !important;
    content: "\e900";
    font-size: 20pt;
    display: inline-block;
    transform: rotate(-180deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}