@media only screen and (max-width: 600px) {
    .footer {
        background-color: #1a1a1a;
        padding: 10px;
    }

    .footer .contact {
        padding: 40px;
    }

    .footer p {
        text-align: center;
    }
}