.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-name: fade;
    animation-duration: 0.3s;
}

@-webkit-keyframes fade {
    from {-webkit-opacity: 0} 
    to {-webkit-opacity: 1}
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

.lightbox img {
    max-width: 95%;
    max-height: 65%;
}