@media only screen and (max-width: 600px) {
    .nav-menu {
        position: fixed;
        box-sizing: border-box;
        z-index: 1;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        padding: 10px;
        background-color: rgba(0, 36, 64, 0.95);
        -webkit-animation-name: fade;
        -webkit-animation-duration: 0.3s;
        animation-name: fade;
        animation-duration: 0.3s;
    }

    @-webkit-keyframes fade {
        from {-webkit-opacity: 0} 
        to {-webkit-opacity: 1}
    }

    @keyframes fade {
        from {opacity: 0} 
        to {opacity: 1}
    }

    .nav-options {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .social-links {
        padding-top: 30px;
    }

    .social-links img {
        width: 20px;
        padding: 10px;
    }

    .nav-options h2 {
        font-family: 'Source Sans Pro', sans-serif;
        padding-bottom: 10px;
    }

    .dropdown-menu {
        position: fixed;
        width: 40px;
        top: 10px;
        right: 10px;
        padding: 10px;
    }
    
    .dropdown-menu.hidden {
        display: none;
    }
}