.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.column {
    width: 100%;
}

.thumbnail {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}