.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.column {
    width: 100%;
}

.thumbnail {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.gallery-header {
    position: relative;
    margin-bottom: 15px;
}

.gallery-header h1 {
    margin: 0 !important;
    padding: 0 !important;
}

.back-btn {
    position: absolute;
    left: 10px;
   /* vertically center the icon */
    font-size: 16pt;
    top: 50%; transform: translateY(-50%);
}