@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@font-face {
  font-family: 'icons';
  src:  url('../fonts/icomoon.eot?oc3vky');
  src:  url('../fonts/icomoon.eot?oc3vky#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oc3vky') format('truetype'),
    url('../fonts/icomoon.woff?oc3vky') format('woff'),
    url('../fonts/icomoon.svg?oc3vky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: white;
}

#root {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11pt;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.header {
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  font-family: 'Lora', serif;
}

.header-img {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  transition: left 0.5s;
}

.header-text {
  position: absolute;
  top: 24px;
  left: 70px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  transition: left 0.5s;
}

.header-img.hidden {
  left: -70px;
}

.header-text.hidden {
  left: 13px;
}

.header span {
  font-family: 'Source Sans Pro', sans-serif;
}

.intro {
  z-index: -1;
}

.content {
  padding: 80px 10px 10px 10px;
}

.content h1 {
  text-align: center;
  font-size: 18pt;
  padding-bottom: 20px;
}