@media only screen and (min-width: 0px) {
    .showcase {
        padding: 100vh 10px 10px 10px;
    }

    .showcase h1 {
        font-size: 18pt;
        text-align: center;
        padding-bottom: 24px;
    }
    
    .photography-showcase {
        margin-bottom: 20px;
    }
    
    .photography-showcase img {
        display: block;
        width: 60%;
        margin: auto;
        padding-bottom: 10px;
    }

    .photography-showcase h2 {
        font-size: 16pt;
        padding-bottom: 10px;
    }
    
    .videos-showcase img {
        display: block;
        width: 90%;
        margin: auto;
        padding-bottom: 10px;
    }
    
    .videos-showcase h2 {
        font-size: 16pt;
        padding-bottom: 10px;
    }
    
}